{% extends 'master.html' %}
{% load static %}

{% block title %}
<title>Blog Post</title>
{% endblock %}


{% block header %}
<header>
  <h1>Blog</h1>
</header>
{% endblock %}

{% block content %}
<div class="border-straight">
  <h2>Articles</h2>
</div>
<div class="container">
  <div class="frame-border">
    <p>Article</p>
  </div>
  <div class="frame-border">
    <p>Article</p>
  </div>
  <div class="frame-border">
    <p>Article</p>
  </div>
  <div class="frame-border">
    <p>Article</p>
  </div>
  <div class="frame-border">
    <p>Article</p>
  </div>
  <div class="frame-border">
    <p>Article</p>
  </div>
  <div class="frame-border">
    <p>Article</p>
  </div>
  <div class="frame-border">
    <p>Article</p>
  </div>
  <div class="frame-border">
    <p>Article</p>
  </div>
  <div class="frame-border">
    <p>Article</p>
  </div>
</div>
{% endblock %}

{% block footer %}
<footer>
  <p>&copy Blog 2023</>
</footer>
{% endblock %}
